@font-face {
  font-family: 'Suit-ExtraBold';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}
@font-face {
font-family: 'Suit-Bold';
src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-ExtraBold.woff2') format('woff2');
font-weight: 700;
font-style: normal;
}

.light,
.light * {
box-sizing: border-box;
}
.light {
background: #fff8ef;
height: 852px;
position: relative;
overflow: hidden;
}
.div {
position: absolute;
inset: 0;
}
.logo {
width: 177px;
height: 77px;
position: absolute;
top: 206px;
left: calc(50% - 88.5px);
}
.user-1-pic {
flex-shrink: 0;
width: 121px;
height: 121px;
overflow: visible;
position: absolute;
left: 15.5%;
top: 38.3%;
}
.user-1-name{
color: #000000;
text-align: center;
font-family: "Suit-ExtraBold", sans-serif;
font-size: 13px;
font-weight: 800;
position: absolute;
left: calc(12% + 60.5px);
top: 53.87%;
align-self: stretch;
}
.user-2-pic {
flex-shrink: 0;
width: 121px;
height: 121px;
position: relative;
overflow: visible;
position: absolute;
right: 15.5%;
top: 38.3%;
}
.user-2-name{
color: #000000;
text-align: center;
font-family: "Suit-ExtraBold", sans-serif;
font-size: 13px;
font-weight: 800;
position: absolute;
right: calc(12% + 60.5px);
top: 53.87%;
align-self: stretch;
}
.user-3-pic {
flex-shrink: 0;
width: 121px;
height: 121px;
position: absolute;
left: 15.5%;
top: 58.5%;
overflow: visible;
}
.user-3-name{
color: #000000;
text-align: center;
font-family: "Suit-ExtraBold", sans-serif;
font-size: 13px;
font-weight: 800;
position: absolute;
left: calc(12% + 60.5px);
top: 74.06%;
align-self: stretch;
}
.user-4-pic {
flex-shrink: 0;
width: 121px;
height: 121px;
position: absolute;
right: 15.5%;
top: 58.5%;
overflow: visible;
}
.user-4-name{
color: #000000;
text-align: center;
font-family: "Suit-ExtraBold", sans-serif;
font-size: 13px;
font-weight: 800;
height: 121px;
position: absolute;
right: calc(12% + 60.5px);
top: 74.06%;
align-self: stretch;
}
.ok{
background-color: #4535FF;
font-family: "Suit-Bold", sans-serif;
color: white;
border: 0px;
border-radius: 30px;
width: 61px;
height: 29px;
position: absolute;
left: 45%;
top: 82.15%;
}
.profileChecked1{
display: none;
width: 121px;
height: 121px;
position: absolute;
left: 15.5%;
top: 38.3%;
}
.profileChecked2{
display: none;
width: 121px;
height: 121px;
position: absolute;
right: 15.5%;
top: 38.3%;
}
.profileChecked3{
display: none;
width: 121px;
height: 121px;
position: absolute;
left: 15.5%;
top: 58.5%;
}
.profileChecked4{
display: none;
width: 121px;
height: 121px;
position: absolute;
right: 15.5%;
top: 58.5%;
}
